pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select json_value(SrcDetails,'$.schemaname') as schemaname\n,json_value(SrcDetails,'$.destSchema') as destSchema \n,json_value(SrcDetails,'$.tablename') as tablename \n,json_value(PrimaryKey,'$.pk1') as pk1 \n,json_value(PrimaryKey,'$.pk2') as pk2\n,json_value(PrimaryKey,'$.pk3') as pk3\n,category\nfrom src.meta_tbl where json_value(SrcDetails,'$.tablename')='table1'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQLMetaTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"batchCount": 50,
					"activities": [
						{
							"name": "Data flow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "1.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow1",
									"type": "DataFlowReference",
									"parameters": {
										"Schemaname": {
											"value": "'@{item().schemaname\r\n}'",
											"type": "Expression"
										},
										"Tablename": {
											"value": "'@{item().tablename}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2022-05-23T10:56:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}